*
    font-family: 'Handjet', sans-serif

.container
    width: 1440px
    margin: 0 auto
    position: relative

@import 'blocks/subheader'
@import 'blocks/header'
@import 'blocks/carousel' 
@import 'blocks/blocks'
@import 'blocks/advantages'
@import 'blocks/footer'

